<header>
	<div id="header">
		<a class="home-link">
			<img class="logo" src="http://static2.promobo.fr/media/catalog/product/cache/1/image/1200x1000/9df78eab33525d08d6e5fb8d27136e95/b/o/bouchon_evier_fun_design_forme_poisson_dauphun_fluo_pas_cher_1000.jpg">
		</a>
		<div class="header-text">
			<div class="left">
				<span class="header-nav">
					<a href="/articles">Articles</a>
					<span class="divider">
						|
					</span>
					<a href="/authors">Authors</a>
					<span class="divider">
						|
					</span>
					<a href="/tags">Tags</a>
					<span class="divider">
						|
					</span>
					<a href="/home-admin">Connection</a>
				</span>
			</div>
			<div class="info">
				Built with <a href="https://cli.angular.io/" target="_blank">Angular CLI</a>
			</div>
		</div>
	</div>
</header>
